.addTaskBlock{
    text-align: center;
    width: 100%;
    padding: 40px 0;
}
.addtTaskForm{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.inputTask{
    background: none;
    border: 1px solid #999;
    width: 80%;
    height: 30px;
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}  
.isImportant{
    margin-right: 3px;
}
.addBtn{
    width: 100px;
    height: 40px; 
    margin-left: 10px; 
}